<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>


</head>
<body>

    <div class="row">
        <div class="col-lg-offset-2 col-lg-6">
            <form class="form-horizontal" role="form" th:action="@{/addShop}" method="post">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">商店名</label>
                    <div class="col-sm-8">
                        <input type="text" name="shopName" class="form-control" id="inputName" placeholder="店铺名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDecs" class="col-sm-2 control-label">商店描述</label>
                    <div class="col-sm-8">
                        <input type="text" name="shopDesc" class="form-control" id="inputDecs" placeholder="店铺描述">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputOwnerID" class="col-sm-2 control-label">借卖方ID</label>
                    <div class="col-sm-8">
                        <input type="number" name="shopOwnerID" class="form-control" id="inputOwnerID" placeholder="借卖方ID">
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">添加店铺</button>
                    </div>
                </div>
            </form>




        </div>


    </div>


</div>
</body>
</html>