<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewpoint" content="width=device-width,initial-scale=1"/>
    <link  th:href="@{/bootstrap/css/bootstrap.min.css}" herf="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8"/>

</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">店铺信息管理</div>
                <div>&nbsp;</div>
                <form class="form-horizontal" role="form" th:action="@{/findByDifferentType}" method="post">
                <div class="col-sm-2 col-sm-8">
                    <table width="800" border="0" align="center">
                    <tr>
                    <th width="110"><select type="text" name="type"  class="form-control" id="inputGrade" placeholder="">

                            <option th:text="店铺ID" th:value="0"></option>
                            <option th:text="店铺名" th:value="1"></option>
                            <option th:text="持有者ID" th:value="3"></option>
                            <option th:text="持有者角色" th:value="2"></option>
                        </select></th>
                    <th ><input type="text" name="searchText" class="form-control" id="inputAddress" placeholder=""></th>
                    <th ><a>
                        <input  class="btn btn-success" name="查询" th:type="submit" th:value="查询"></a></th>
                </tr>
                </table>
                </div>
                </form>
                <div>&nbsp;</div>
                <div class="panel-body">
                    <p>
                    <div class="alert alert-success">
                        在这里，你可以对店铺信息进行查看/修改/删除/查询操作，如果需要添加店铺信息请点击
                        <a th:href="@{/addShop}" class="alert-link">添加店铺信息</a>
                    </div>
                    </p>
                    <table class="table" id="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>店铺名</th>
                            <th>店铺描述</th>
                            <th>借卖方ID</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="Shop:${shops}">
                            <td th:text="${Shop.getId()}">aehyok</td>
                            <td th:text="${Shop.getName()}">leo</td>
                            <td th:text="${Shop.getDescription()}">@aehyok</td>
                            <td th:text="${Shop.getSellerId()}">@aehyok</td>
                            <td>
                                <a th:href="@{'update/'+${Shop.getId()}}">修改</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a th:href="@{'delete/'+${Shop.getId()}}">删除</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>