<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>


</head>
<body>
<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info">
                        修改店铺信息
                    </div>
                </div>
            </div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-6">
            <form class="form-horizontal" role="form" th:action="@{/update}" method="post">
                <input type="hidden" name="shopID" th:value="${shop.shopID}" >
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">店铺名</label>
                    <div class="col-sm-8">
                        <input type="text" name="shopName" th:value="${shop.shopName}" class="form-control" id="inputName" placeholder="店铺名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDecs" class="col-sm-2 control-label">店铺描述</label>
                    <div class="col-sm-8">
                        <input type="text" name="shopDesc" th:value="${shop.shopDesc}" class="form-control" id="inputDecs" placeholder="店铺描述">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputOwnerRole" class="col-sm-2 control-label">拥有者角色</label>
                    <div class="col-sm-8">
                        <select type="text" name="shopOwnerRole" class="form-control" id="inputOwnerRole" >
                            <option th:text="品牌商" th:value="0" th:selected="${shop.getShopOwnerRole() == 0}" ></option>
                            <option th:text="借卖方" th:value="1" th:selected="${shop.getShopOwnerRole() == 1}" ></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputOwnerID" class="col-sm-2 control-label">拥有者ID</label>
                    <div class="col-sm-8">
                        <input type="number" name="shopOwnerID" th:value="${shop.shopOwnerID}" class="form-control" id="inputOwnerID" placeholder="借卖方ID">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">修改店铺</button>
                    </div>
                </div>
            </form>




        </div>


    </div>


</div>
</body>
</html>