<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>

    <title>Title</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-success">
                     添加订单信息
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-offset-2 col-lg-6">
                <form class="form-horizontal" role="form" th:action="@{add}" method="post">
                    <div class="form-group">
                        <label for="sender_name" class="col-sm-2 control-label">发送方姓名</label>
                        <div class="col-sm-8">
                            <input type="text" name="sender_name" class="form-control" id="sender_name" placeholder="发送方姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sender_address" class="col-sm-2 control-label">发送方地址</label>
                        <div class="col-sm-8">
                            <input type="text" name="sender_address" class="form-control" id="sender_address" placeholder="发送方地址">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sender_phone" class="col-sm-2 control-label">发送方电话</label>
                        <div class="col-sm-8">
                            <input type="text" name="sender_phone" class="form-control" id="sender_phone" placeholder="发送方电话">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="receiver_name" class="col-sm-2 control-label">接收方姓名</label>
                        <div class="col-sm-8">
                            <input type="text" name="receiver_name" class="form-control" id="receiver_name" placeholder="接收方姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="receiver_address" class="col-sm-2 control-label">接收方地址</label>
                        <div class="col-sm-8">
                            <input type="text" name="receiver_address" class="form-control" id="receiver_address" placeholder="接收方地址">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="receiver_phone" class="col-sm-2 control-label">接收方电话</label>
                        <div class="col-sm-8">
                            <input type="text" name="receiver_phone" class="form-control" id="receiver_phone" placeholder="接收方电话">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="notes" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-8">
                            <input type="password" name="notes" class="form-control" id="notes" placeholder="备注">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">状态</label>
                        <div class="col-sm-8">
                            <input type="number" name="state" class="form-control" id="state" placeholder="状态">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">添加订单</button>
                        </div>
                    </div>
                </form>




            </div>


        </div>


    </div>



</body>
</html>