<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
     <meta charset="UTF-8"/>

    <title>Title</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info">
                    修改订单信息
                </div>

            </div>

        </div>
        <div class="row">
                <form class="form-horizontal" role="form" th:action="@{/odermgmt/orderPage/update}" method="post">
                    <input type="text" name="id" th:value="${orderItemId}" >
                    <div class="form-group">
                        <label for="count" class="col-sm-2 control-label">数量</label>
                        <div class="col-sm-8">
                            <input type="text" name="count" class="form-control" id="count" placeholder="数量">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="orderId" class="col-sm-2 control-label">订单编号</label>
                        <div class="col-sm-8">
                            <input type="text" name="orderId" class="form-control" id="orderId" placeholder="订单编号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">状态</label>
                        <div class="col-sm-8">
                            <input type="text" name="state" class="form-control" id="state" placeholder="状态">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="CompanyId" class="col-sm-2 control-label">品牌商id</label>-->
                        <!--<div class="col-sm-8">-->
                            <!--<input type="text" name="CompanyId" class="form-control" id="CompanyId" placeholder="品牌商id">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="MvoCmdtId" class="col-sm-2 control-label">借卖方商品id</label>-->
                        <!--<div class="col-sm-8">-->
                            <!--<input type="text" name="MvoCmdtId" class="form-control" id="MvoCmdtId" placeholder="借卖方商品id">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="saleInfoId" class="col-sm-2 control-label">上架商品id</label>-->
                        <!--<div class="col-sm-8">-->
                            <!--<input type="text" name="saleInfoId" class="form-control" id="saleInfoId" placeholder="上架商品id">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="name" class="col-sm-2 control-label">商品名字</label>-->
                        <!--<div class="col-sm-8">-->
                            <!--<input type="text" name="name" class="form-control" id="name" placeholder="商品名字">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="Price" class="col-sm-2 control-label">商品单价</label>-->
                        <!--<div class="col-sm-8">-->
                            <!--<input type="number" name="Price" class="form-control" id="Price" placeholder="商品单价">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="sellerId" class="col-sm-2 control-label">借卖方id</label>-->
                        <!--<div class="col-sm-8">-->
                            <!--<input type="number" name="sellerId" class="form-control" id="sellerId" placeholder="借卖方id">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="ShopId" class="col-sm-2 control-label">店铺id</label>-->
                        <!--<div class="col-sm-8">-->
                            <!--<input type="number" name="ShopId" class="form-control" id="ShopId" placeholder="店铺id">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="description" class="col-sm-2 control-label">商品描述</label>-->
                        <!--<div class="col-sm-8">-->
                            <!--<input type="text" name="description" class="form-control" id="description" placeholder="附加信息">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="Notes" class="col-sm-2 control-label">附加信息</label>
                        <div class="col-sm-8">
                            <input type="text" name="Notes" class="form-control" id="Notes" placeholder="附加信息">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">提交修改</button>
                        </div>
                    </div>
                </form>




            </div>


        </div>


    </div>



</body>
</html>