<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/ace.min.css">
    <link rel="stylesheet" href="css/ace-skins.min.css">
    <link rel="stylesheet" href="css/ace-responsive.min.css">
  <style>
    body,html{
      width: 100%;
      height: 100%;
      background: #fff;
    }

    .info div{
        float: right;
    }

  </style>
    <body>
<div id="main-content" class="clearfix">
<div id="page-content" class="clearfix">

    <div class="page-header position-relative">
      <h1 style="color: #2679b5;">借卖方<small><i class="icon-double-angle-right"></i> 订单管理</small></h1>
    </div>
  <form class="form-search">
    Title：
    <input type="text" class="input-medium search-query">
    <button onclick="return false;" class="btn btn-purple btn-small">Search <i class="icon-search icon-on-right"></i></button>
  </form>
  <a href="#" class="btn  btn-success"  style="margin-bottom: 30px">
    <i class="icon-refresh"></i>
    Pull Orders
  </a>

<div class="tabbable">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-toggle="tab" href="#AwaitingPayment"> Awaiting Payment</a></li>
        <li class=""><a data-toggle="tab" href="#AwaitingShipment"> Awaiting Shipment</a></li>
        <li class=""><a data-toggle="tab" href="#shipped">Shiped</a></li>
        <li class=""><a data-toggle="tab" href="#complete">Completed Orders</a></li>
        <li class=""><a data-toggle="tab" href="#canceled">Cancelled Orders</a></li>
      </ul>
      <div class="tab-content">
        <div id="AwaitingPayment" class="tab-pane active">
          <p>
          <table id="table_bug_report" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
            <th class="center">
              <label><input type="checkbox" class="ace-checkbox-2"><span class="lbl"></span></label>
            </th>
            <th>Title</th>
            <th>Price</th>
            <th class="hidden-480">QTY</th>
            <th>Sku</th>
            <th class="hidden-480">Order No</th>
            <th class="hidden-480">Total</th>
            <th> </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="center">
                <label><input type="checkbox" class="input"><span class="lbl"></span></label>
              </td>
              <td><a href="bvo-goodsdetail.html">max.com</a></td>
              <td>$60</td>
              <td class="hidden-480">400</td>
              <td class="hidden-phone">Q8976511</td>
              <td class="hidden-480">4,400</td>
              <td>$500</td>
              <td>
                 <a href="bvo-orderPayment.html">Pay Now</a>
              </td>
            </tr>


            <tr>
              <td class="center">
                <label><input type="checkbox" class="input"><span class="lbl"></span></label>
              </td>
              <td><a href="bvo-goodsdetail.html">best.com</a></td>
              <td>$75</td>
              <td class="hidden-480">6,500</td>
              <td class="hidden-phone">GM9012203</td>
              <td class="hidden-480">OD23336500</td>
              <td>$5678</td>
              <td>
                 <a href="bvo-orderPayment.html">Pay Now</a>
              </td>
            </tr>


            <tr>
              <td class="center">
                <label><input type="checkbox" class="input"><span class="lbl"></span></label>
              </td>
              <td><a href="bvo-goodsdetail.html">pro.com</a></td>
              <td>$55</td>
              <td class="hidden-480">4,250</td>
              <td class="hidden-phone">GM775332</td>
              <td class="hidden-480">T4536476250</td>
              <td>$6788</td>
              <td>
                  <a href="bvo-orderPayment.html">Pay Now</a>
              </td>
            </tr>

                  </tbody>
            </table>
          </p>
        </div>
        <div id="AwaitingShipment" class="tab-pane">
          <p>
          <table id="table_bug_report" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
            <th class="center">
              <label><input type="checkbox" class="ace-checkbox-2"><span class="lbl"></span></label>
            </th>
            <th>Title</th>
            <th>Price</th>
            <th class="hidden-480">QTY</th>
            <th>Sku</th>
            <th>Order No</th>
            <th class="hidden-480">Total</th>

            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="center">
                <label><input type="checkbox" class="input"><span class="lbl"></span></label>
              </td>
              <td><a href="bvo-goodsdetail.html">best.com</a></td>
              <td>$75</td>
              <td>500</td>
              <td>GM667747888</td>
              <td>565742</td>
              <td>$7000</td>

            </tr>


            <tr>
              <td class="center">
                <label><input type="checkbox" class="input"><span class="lbl"></span></label>
              </td>
              <td><a href="bvo-goodsdetail.html">pro.com</a></td>
              <td>$55</td>
              <td>4,250</td>
              <td>GM667747888</td>
              <td>7897777</td>
              <td>$5788</td>

            </tr>

                  </tbody>
            </table>
          </p>
        </div>
        <div id="shipped" class="tab-pane">
          <p>
            <table id="table_bug_report" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th class="center">
                    <label><input type="checkbox" class="ace-checkbox-2"><span class="lbl"></span></label>
                  </th>
                  <th>Title</th>
                  <th>Price</th>
                  <th>QTY</th>
                  <th>Sku</th>
                  <th>Total</th>
                  <th>Order No</th>
                  <th>Tracking No</th>

                </tr>
              </thead>

              <tbody>

                <tr>
                  <td class="center">
                    <label><input type="checkbox" class="input"><span class="lbl"></span></label>
                  </td>
                  <td><a href="bvo-goodsdetail.html">ace.com</a></td>
                  <td>$45</td>
                  <td>3</td>
                  <td>sk0012</td>

                  <td>$135</td>
                  <td>
                    3562678989
                  </td>
                  <td>
                     <a href="bvo-ordertracking.html">3534658889</a>
                  </td>
                </tr>


                <tr>
                  <td class="center">
                    <label><input type="checkbox" class="input"><span class="lbl"></span></label>
                  </td>
                  <td><a href="bvo-goodsdetail.html">base.com</a></td>
                  <td>$45</td>
                  <td>3</td>
                  <td>sk0012</td>

                  <td>$135</td>
                  <td>
                    3562678989
                  </td>
                  <td>
                     <a href="bvo-ordertracking.html">3534658889</a>
                  </td>
                </tr>


                <tr>
                  <td class="center">
                    <label><input type="checkbox" class="input"><span class="lbl"></span></label>
                  </td>
                  <td><a href="bvo-goodsdetail.html">max.com</a></td>
                  <td>$45</td>
                  <td>3</td>
                  <td>sk0012</td>

                  <td>$135</td>
                  <td>
                    3562678989
                  </td>
                  <td>
                     <a href="bvo-ordertracking.html">3534658889</a>
                  </td>
                </tr>


                <tr>
                  <td class="center">
                    <label><input type="checkbox" class="input"><span class="lbl"></span></label>
                  </td>
                  <td><a href="bvo-goodsdetail.html">best.com</a></td>
                  <td>$45</td>
                  <td>3</td>
                  <td>sk0012</td>

                  <td>$135</td>
                  <td>
                    3562678989
                  </td>
                  <td>
                     <a href="bvo-ordertracking.html">3534658889</a>
                  </td>
                </tr>




              </tbody>
            </table>
          </p>
        </div>
       <div id="complete" class="tab-pane">
          <p>
            <table id="table_bug_report" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th class="center">
                    <label><input type="checkbox" class="ace-checkbox-2"><span class="lbl"></span></label>
                  </th>
                  <th>Title</th>
                  <th>Price</th>
                  <th>QTY</th>
                  <th>Sku</th>
                  <th>Total</th>
                  <th>Order No</th>
                  <th>Tracking No</th>

                </tr>
              </thead>

              <tbody>

                <tr>
                  <td class="center">
                    <label><input type="checkbox" class="input"><span class="lbl"></span></label>
                  </td>
                  <td><a href="bvo-goodsdetail.html">ace.com</a></td>
                  <td>$45</td>
                  <td class="hidden-480">3</td>
                  <td>Gm7643377</td>
                  <td >$135</td>
                  <td >546738788</td>
                  <td class="hidden-480"><a href="bvo-ordertracking.html">46578990890</a></td>
                </tr>


                <tr>
                  <td class="center">
                    <label><input type="checkbox" class="input"><span class="lbl"></span></label>
                  </td>
                  <td><a href="bvo-goodsdetail.html">ace.com</a></td>
                  <td>$45</td>
                  <td class="hidden-480">3</td>
                  <td>Gm7643377</td>
                  <td >$135</td>
                  <td >546738788</td>
                  <td class="hidden-480"><a href="bvo-ordertracking.html">46578990890</a></td>

                </tr>


                <tr>
                  <td class="center">
                    <label><input type="checkbox" class="input"><span class="lbl"></span></label>
                  </td>
                  <td><a href="bvo-goodsdetail.html">ace.com</a></td>
                  <td>$45</td>
                  <td class="hidden-480">3</td>
                  <td>Gm7643377</td>
                  <td >$135</td>
                  <td >546738788</td>
                  <td class="hidden-480"><a href="bvo-ordertracking.html">46578990890</a></td>

                </tr>


                <tr>
                  <td class="center">
                    <label><input type="checkbox" class="input"><span class="lbl"></span></label>
                  </td>
                  <td><a href="bvo-goodsdetail.html">ace.com</a></td>
                  <td>$45</td>
                  <td class="hidden-480">3</td>
                  <td>Gm7643377</td>
                  <td >$135</td>
                  <td >546738788</td>
                  <td class="hidden-480"><a href="bvo-ordertracking.html">46578990890</a></td>

                </tr>




                      </tbody>
            </table>
          </p>
        </div>
         <div id="canceled" class="tab-pane">
          <p>
            <table id="table_bug_report" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th class="center">
                    <label><input type="checkbox" class="ace-checkbox-2"><span class="lbl"></span></label>
                  </th>
                  <th>Title</th>
                  <th>Price</th>
                  <th class="hidden-480">QTY</th>
                  <th>	Sku</th>
                  <th class="hidden-480">Total</th>
                  <th class="hidden-480">Order No</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td class="center">
                    <label><input type="checkbox" class="input"><span class="lbl"></span></label>
                  </td>
                  <td><a href="bvo-goodsdetail.html">base.com</a></td>
                  <td>$35</td>
                  <td class="hidden-480">20</td>
                  <td>Gm356677</td>
                  <td>$7000</td>
                  <td>543678788</td>
                </tr>


                <tr>
                  <td class="center">
                    <label><input type="checkbox" class="input"><span class="lbl"></span></label>
                  </td>
                  <td><a href="bvo-goodsdetail.html">base.com</a></td>
                  <td>$35</td>
                  <td class="hidden-480">20</td>
                  <td>Gm356677</td>
                  <td>$7000</td>
                  <td>543678788</td>
                </tr>


                <tr>
                  <td class="center">
                    <label><input type="checkbox" class="input"><span class="lbl"></span></label>
                  </td>
                  <td><a href="bvo-goodsdetail.html">base.com</a></td>
                  <td>$35</td>
                  <td class="hidden-480">20</td>
                  <td>Gm356677</td>
                  <td>$7000</td>
                  <td>543678788</td>
                </tr>




              </tbody>
            </table>
          </p>
        </div>
      </div>
  </div>
  </div></div>

    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(function(){

        $('.ace-checkbox-2').each(function(){
              $('.ace-checkbox-2').change(function(){
                if($(this).prop('checked')){
                 $(this).parents('.tab-pane').find('.input').prop('checked',true);
               }else{
                $(this).parents('.tab-pane').find('.input').prop('checked',false);
              }
          })

        })

})



    </script>
    </body>
</html>
