<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/ace.min.css">
        <link rel="stylesheet" href="css/ace-skins.min.css">
        <link rel="stylesheet" href="css/ace-responsive.min.css">

    </head>
    <style>
        body,html{
            width: 100%;
            height: 100%;
            background: #fff;
        }


    .inputName{
        width: 50%;
        margin: 0 auto;
        font-size: 20px;
    }

  </style>
    <body>

 <div id="main-content" class="clearfix">
  <div id="page-content" class="clearfix">
           <div class="page-header position-relative">
              <h1 style="color: #2679b5;">借卖方<small><i class="icon-double-angle-right"></i> 我的信息</small></h1>
            </div>
    <div class="inputName">
        <div style="margin-bottom: 40px">Username:gmcbrand1</div>
        <div><label class="green">Name:</label><input type="text" value="Lucy"></div>
        <div><label class="green">Email:</label><input type="text" value="97656444@123.com"></div>
        <div><label class="green">Phone:</label><input type="text" value="1376533621"></div>
        <button class="btn  btn-success save">save</button>
        <button class="btn  btn-pink" onclick="myshop()">My Stores</button>
    </div>



    </div></div>



    </body>
    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootbox.min.js"></script>
    <script type="text/javascript">
    $(function(){


    })
       function myshop(){
            window.location.href = "bvo-goodsstoreAdd.html"
        }
    </script>
    </body>
</html>
