<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/shopAndBrandmodel/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/shopAndBrandmodel/css/bootstrap-responsive.min.css}">
    <link rel="stylesheet" th:href="@{/shopAndBrandmodel/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/shopAndBrandmodel/css/ace.min.css}">
    <link rel="stylesheet" th:href="@{/shopAndBrandmodel/css/ace-skins.min.css}">
    <link rel="stylesheet" th:href="@{/shopAndBrandmodel/css/ace-responsive.min.css}">
    <script type="text/javascript" th:src="@{/shopAndBrandmodel/js/jquery-1.9.1.js}"></script>
    <script th:src="@{/shopAndBrandmodel/js/bootstrap.min.js}"></script>

    <style>
        body,html{
            width: 100%;
            height: 100%;
            background: #fff;
        }
    </style>
</head>
<body>
<div id="main-content" class="clearfix">
    <div id="page-content" class="clearfix">
        <div class="page-header position-relative">
            <h1 style="color: #2679b5;">管理员 <small><i class="icon-double-angle-right"></i> 品牌商公司信息</small></h1>
        </div>
    <table id="table_brand_mg" class="table table-striped table-bordered table-hover" >
    <thead>
    <tr>
        <th class="center">
            <label><input type="checkbox" class="ace-checkbox-2"><span class="lbl"></span></label>
        </th>
        <th>公司编号Company ID</th>
        <th>公司名字Company Name</th>
        <th>公司描述Company Description</th>
        <th>操作</th>
    </tr>
    </thead>

    <tbody>

    <tr th:each="Company:${companys}">
        <th class="center">
            <label><input type="checkbox" class="input"><span class="lbl"></span></label>
        </th>
        <td th:text="${Company.getId()}"></td>
        <td th:text="${Company.getName()}"></td>
        <td th:text="${Company.getDescription()}"></td>
        <td>
            <div class="inline position-relative">
                <a th:href="@{'/mg/company/mgupdate/'+${Company.getId()}}">
                    <button class="btn btn-mini btn-info" >
                        <i class="icon-edit"></i>
                    </button></a>
                <a th:href="@{'/mg/company/mgdelete/'+${Company.getId()}}">
                    <button class="btn btn-mini btn-danger"><i class="icon-trash"></i></button>
                </a>
            </div>
        </td>

    </tr>
    </tbody>
</table>

    </div>
</div>
</body>
</html>
