<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/shopAndBrandmodel/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/shopAndBrandmodel/css/bootstrap-responsive.min.css}">
    <link rel="stylesheet" th:href="@{/shopAndBrandmodel/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/shopAndBrandmodel/css/ace.min.css}">
    <link rel="stylesheet" th:href="@{/shopAndBrandmodel/css/ace-skins.min.css}">
    <link rel="stylesheet" th:href="@{/shopAndBrandmodel/css/ace-responsive.min.css}">
    <script type="text/javascript" th:src="@{/shopAndBrandmodel/js/jquery-1.9.1.js}"></script>
    <script type="text/javascript" th:src="@{/shopAndBrandmodel/webuploader/webuploader.js}"></script>
    <script th:src="@{/shopAndBrandmodel/js/bootstrap.min.js}"></script>

    <style>
        body,html{
            width: 100%;
            height: 100%;
            background: #fff;
        }
    </style>

</head>
<body>

<div id="main-content" class="clearfix">
    <div id="page-content" class="clearfix">


        <div class="page-header position-relative">
            <h1 style="color: #2679b5;">管理员 <small><i class="icon-double-angle-right"></i> 店铺信息</small></h1>
        </div>


        <h3 style="margin-top:40px;line-height:40px;">店铺信息</h3>
        <!-- 品牌信息 -->
        <table id="table_bug_report" class="table table-striped table-bordered table-hover" name="table">
            <thead>
            <tr>
                <th class="center">
                    <label><input type="checkbox" class="ace-checkbox-2"><span class="lbl"></span></label>
                </th>
                <th>店铺编号Shop ID</th>
                <th>店铺名称Shop Name</th>
                <th>店铺描述Shop Description</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="Shop:${shops}">
                <th class="center">
                    <label><input type="checkbox" class="input"><span class="lbl"></span></label>
                </th>
                <td th:text="${Shop.getId()}"></td>
                <td th:text="${Shop.getName()}">leo</td>

                <td th:text="${Shop.getDescription()}">@aehyok</td>
                <td>
                    <div class="inline position-relative">
                        <button class="btn btn-mini btn-info" data-toggle="modal" th:onclick="'javascrpit:outModal('+ '&quot;' +${Shop.id} + '&quot;'+'&#44'
                            + '&quot;' +${Shop.sellerId} + '&quot;'+'&#44'+ '&quot;' +${Shop.name}
                             + '&quot;'+'&#44'+'&quot;' + ${Shop.getDescription()} + '&quot;' +')'">
                            <i class="icon-edit"></i>
                        </button>
                        <a th:href="@{'/mg/seller/deleteShopMg/'+${Shop.getId()}}">
                            <button class="btn btn-mini btn-danger"><i class="icon-trash"></i></button>
                        </a>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>


        <!-- Modal -->

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ModalLabel">店铺信息</h4>
            </div>
            <div class="modal-body" >
                <form class="form-horizontal" role="form" th:action="@{/shopmgmt/mg/seller/updateShopMg}" method="post">

                    <input type="hidden" id="updateId" name="id" >
                    <input type="hidden" id="updateSellerId" name="sellerId" >
                    <div class="control-group">
                        <label class="control-label" for="inputName" >店铺名称<br>Shop Name</label>
                        <div class="controls">
                            <input type="text" id="updateName" name="name" >
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="InputDescription">店铺描述<br>Shop Description</label>
                        <div class="controls">
                            <input type="text" id = "updateDescription" name="description" >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary" >保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script th:inline="javascript">

    function outModal(id,sellerId,name,description) {
        $("#updateId").val(id.toString());
        $("#updateSellerId").val(sellerId.toString());
        $("#updateName").val(name.toString());
        $("#updateDescription").val(description.toString());
        $("#updateModal").modal("show");
    }


</script>
</body>
</html>