<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>

<div>
    <div class="container" style="margin-top: 100px;">
        <!--<hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color="#6f5499" size="3" />-->
        <div style="margin-top: 20px"><br><br></div>
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
                <form class="form-horizontal" role="form" th:action="@{'/admin/admin_login'}" method="post"
                      style="background-color:white;border: 1px solid #dedede" autocomplete="off">
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <h3 class="col-sm-5" style="font-weight: bolder">管理员登陆</h3>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control" id="inputName" placeholder="输入用户名">
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <input type="password" name="password" class="form-control" id="inputPwd" placeholder="输入密码">
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success btn-block">登 录</button>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <br>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div style="height: 120px"><br><br></div>
</div>

</body>
</html>