<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<nav th:fragment="navigation">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="font-size: 1.6em">借卖商城</a>
                </div>

                <div class="collapse navbar-collapse"  style="font-size: 1.1em">

                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/}">首页</a></li>
                        <li><a href="#">跳转1</a></li>
                        <li>
                            <a href="#">跳转2</a>
                        </li>
                    </ul>

                    <ul id="funbar" class="nav navbar-nav navbar-right" style="display:none;">
                        <li><a th:href="@{/rolemgmt/user/register}"><span class="glyphicon glyphicon-user"></span>&nbsp;注册</a>
                        </li>
                        <li><a th:href="@{/rolemgmt/user/login}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;登录</a>
                        </li>
                    </ul>

                    <ul id="infobar" class="nav navbar-nav navbar-right" style="display: none">
                        <li class="dropdown" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                我的商城
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu" th:switch="${session.role}" style="background-color: orangered">
                                <li th:case="'seller'"><a th:href="@{'/rolemgmt/background/1'}">我的信息</a>
                                    <a th:href="@{'/rolemgmt/saleinfo/list/' + ${session.userId}}">店铺信息</a> </li>
                                <li th:case="'company'"><a th:href="@{'/rolemgmt/background/0'}">公司信息</a></li>
                                <li class="divider">
                                <li><a href="/rolemgmt/user/exit">退出</a></li>
                                </li>
                            </ul>

                        </li>
                    </ul>

                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-search"></i>
                                </div>
                                <input id="searchKeyName" type="text" class="form-control" placeholder="请输入想搜索的商品"/>
                            </div>
                            <button type="button" class="btn btn-danger"  id="searchBtn" style="">搜索</button>
                        </div>
                    </form>

                </div>


            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</nav>

</body>

</html>

