<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/mystyle.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-fixed-top my-navbar" role="navigation" style="font-weight: bold;">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="font-size: 1.6em">借卖商城</a>
                </div>

                <div class="collapse navbar-collapse" id="example-navbar-collapse" style="font-size: 1.1em">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">首页</a></li>
                        <li><a href="#">跳转1</a></li>
                        <li>
                            <a href="#">跳转2</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    </ul>

                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-search"></i>
                                </div>
                                <input type="text" class="form-control" placeholder="请输入想搜索的商品"/>
                            </div>

                        </div>
                        <button type="button" class="btn btn-danger">搜索</button>
                    </form>


                </div>


            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</nav>

<div>
    <div class="container" style="margin-top: 100px;">
        <!--<hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color="#6f5499" size="3" />-->
        <div style="margin-top: 20px"><br><br></div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <form class="form-horizontal" role="form" th:action="@{/user/seller/info}" method="post"
                      style="background-color:white;border: 1px solid #dedede">
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <h3 class="col-sm-4" style="font-weight: bolder">我的信息</h3>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label for="inputName" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-6">
                            <input type="text" name="id" style="display:none;" th:value="${session.userId}">
                            <input type="text" name="username" style="display:none;" th:value="${session.username}">
                            <span id="inputName" th:text="${session.username}"></span>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label for="inputPwd" class="col-sm-2 control-label">重置密码</label>
                        <div class="col-sm-6">
                            <input type="password" name="password" class="form-control" id="inputPwd"
                                   placeholder="设置你的密码">
                        </div>
                        <div class="col-sm-2"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label for="inputEmail" class="col-sm-2 control-label">重置邮箱</label>
                        <div class="col-sm-6">
                            <input type="text" name="email" class="form-control" id="inputEmail" placeholder="设置你的邮箱">
                        </div>
                        <div class="col-sm-2"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label for="inputPaypwd" class="col-sm-2 control-label">支付密码</label>
                        <div class="col-sm-6">
                            <input type="text" name="payPwd" class="form-control" id="inputPaypwd"
                                   placeholder="设置你的支付密码">
                        </div>
                        <div class="col-sm-2"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <label for="inputPhone" class="col-sm-2 control-label">手机</label>
                        <div class="col-sm-6">
                            <input type="text" name="telephone" class="form-control" id="inputPhone"
                                   placeholder="设置你的手机号码">
                        </div>
                        <div class="col-sm-2"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-success">修改我的信息</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>

<script>
    $(window).scroll(function () {
        if ($(".navbar").offset().top > 50) {
            $(".navbar-fixed-top").addClass("top-nav");
        } else {
            $(".navbar-fixed-top").removeClass("top-nav");
        }
    })
</script>

</body>
</html>
</body>
</html>