html, body {
    width: 100%;
    height: 100%;
    font-family: 'Microsoft YaHei';
}

/*非常重要的样式让背景图片100%适应整个屏幕*/
.bg {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    /*background: url() no-repeat bottom center;*/
    background-color: white;
    background-size: cover;
}

.my-navbar {
    padding: 20px 0;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.my-navbar a {
    background: transparent !important;
    color: orangered !important
}

.my-navbar a:hover {
    color: rgba(255, 69, 0, 0.699) !important;
    background: transparent;
    outline: 0
}

.my-navbar a {
    transition: color 0.5s ease-in-out;
}

/*-webkit-transition ;-moz-transition*/
.top-nav {
    padding: 0;
    background: orangered;
}

.top-nav a {
    background: transparent !important;
    color: white !important
}


button.navbar-toggle {
    background-color: #fbfbfb;
}

/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/
button.navbar-toggle > span.icon-bar {
    background-color: #dedede
}